Daniel Fuentes <daniel.fuentes@segment.com> <daniel.richard.fuentes@gmail.com>
Amir Abu Shareb <yields@icloud.com> Amir Abushareb
Achille Roussel <achille.roussel@segment.com> Achille <achille@segment.com> 
Achille Roussel <achille.roussel@segment.com> Achille Roussel <achille@segment.com> 
Achille Roussel <achille.roussel@segment.com> Achille <achille.roussel@gmail.com>
John Boggs <jboggs@twilio.com> <upsidedowntophat@gmail.com>
Michael S. Fischer <michael.fischer@segment.com> <michael+github@dynamine.net>
Ray Jenkins <ray@segment.com> <ray.jenkins@segment.com>
Alan Braithwaite <alan@segment.com> <asbraithwaite@gmail.com>
Hyonjee Joo <5000208+hjoo@users.noreply.github.com> <hyonjee.joo@segment.com>
Julien Fabre <julien@segment.com> <ju.pryz@gmail.com>
