---
name: Test
"on":
  - pull_request
  - push

jobs:
  test:
    strategy:
      matrix:
        go:
          - 'oldstable'
          - 'stable'
        label:
          - ubuntu-latest

    runs-on: ${{ matrix.label }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup Go (${{ matrix.go }})
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}

      - name: Identify OS
        run: uname -a

      - name: Identify Go Version
        run: go version

      - name: Download Dependencies
        run: go mod download

      - name: Run Tests
        run: go test -trimpath -race ./...

      - name: Run Fuzz Tests
        run: go test -fuzz=FuzzAppendSanitizedMetricName -fuzztime=5s ./datadog
