---
name: golangci-lint
"on":
  push:
    tags:
      - v*
    branches: [main]
    paths:
      - '**.go'
      - .golangci.yml
      - .github/workflows/golangci-lint.yml
  pull_request:
    branches:
      - main


jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: '>=1.20'

      - uses: actions/checkout@v4

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6.1.0
        with:
          version: v1.61.0
